.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
  border-radius: 50%;
  width: 150px;
  justify-content: center;
  margin: auto;
  padding-bottom: -40px;

}

.loginButtoncontainer {
  display: flex;
  height: 80px;
  flex-direction: row;
  margin: auto;
  justify-content: flex-end;
  align-items: center;
}

.headerTitle {
  font-family: 'Montserrat', sans-serif;
  margin: auto;
}

.homeBody {
  display: grid;
  justify-items: center;
}

.homeContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: 'Montserrat', sans-serif;
  width: 80vw;
  justify-items: center;  
}

.homeImage {
  margin: auto;
  width: 60vw 
}

.homeTitle {
  margin: auto;
  width: auto;
}

.homeIntro {
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0;
}


.myBandTitle {
  font-family: 'Monoton', cursive;
  margin: auto;
  font-size: 100px;
  text-align: center;
}

.dashContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  margin: 40px;
}

.dashItem {
  display: flex;
  justify-content: center;
}

.myPostsTitle {
  text-align: center;
  margin: auto auto 30px auto;
  color: white;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;


}

@media only screen and (max-width: 800px) {

  .loginButtoncontainer {
    flex-direction: column;
    margin: auto;
    justify-content: flex-end;
  }
  
  .homeContainer {
    display: flex;
    flex-direction: column;
  } 

  .homeImage {
    width: 90vw 
  }

  .homeIntro {
    font-size:20px;
  }

  .myBandTitle {
    font-family: 'Monoton', cursive;
    margin: auto;
    font-size: 50px;
    text-align: center;
  }
  
  .dashContainer {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 10px;
    margin: 30px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
